body {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 5px lightblue;
  text-align: center;
  background-image: url("https://wallup.net/wp-content/uploads/2016/01/135571-comics-Batman-minimalism-748x421.jpg");
  background-size: cover;
}

.bodyDiv{
    text-align: center;
}

#vid-box video{
	width: 100%;
	height: auto;
    max-height: 50vh;
    max-width: auto;
}

.video2{
    width: 33%;
}

video{
    width: 25%;
}
