body {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 5px red;
  text-align: center;
  background-image: url("http://www.cuded.com/wp-content/uploads/2013/06/15-cool-background.jpg");
}

.bodyDiv{
    text-align: center;
}

#vid-box video{
	width: 100%;
	height: auto;
    max-height: 50vh;
    max-width: auto;
}

.video2{
    width: 33%;
}

video{
    width: 25%;
}
