body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 1em;
  font-weight: 200;
  word-break: break-word;
}

#vid-box video{
  height: 250px;
  vertical-align: top;
}

h1 {
  border-bottom: 1px solid #3f3e3e;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 1em 1.5em 1.3em 1.5em;
}

div#highlight {
  background-color: #eee;
  font-size: 1.2em;
  margin: 0 0 30px 0;
  padding: 0.2em 1.5em;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 24px;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
  }
  h2 {
    font-size: 20;
  }
  div#highlight {
    font-size: 1em;
    margin: 0 0 20px 0;
    padding: 0.2em 1em;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16;
  }
}

form {
  margin: 0 0 10px 0;
}

div#jsonOutput {
  display: block;
}

div {
  margin: 0 0 10px 0;
}

a {
  color: #6fa8dc;
  font-weight: 300;
  text-decoration: none;
}

p {
  color: #444;
  font-weight: 300;
  line-height: 1.6em;
}
