body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 1em;
  font-weight: 200;
  word-break: break-word;
}

#vid-box video{
  height: 225px;
  width: calc(50% - 20px);
  vertical-align: top;
}

h1 {
  border-bottom: 1px solid #3f3e3e;
  text-align: center;
}

h2 {
  text-align: center;
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 1em 1.5em 1.3em 1.5em;
}

div#highlight {
  background-color: #eee;
  font-size: 1.2em;
  margin: 0 0 30px 0;
  padding: 0.2em 1.5em;
}

div#vid-box {
  text-align: justify;
}

div#textShow {
  text-align: center;
}

div#jokeButton {
  text-align: center;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 24px;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
  }
  h2 {
    font-size: 20;
  }
  div#highlight {
    font-size: 1em;
    margin: 0 0 20px 0;
    padding: 0.2em 1em;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
}

form {
  margin: 0 0 10px 0;
  text-align: center;
}

div#jsonOutput {
  display: block;
}

div {
  margin: 0 0 10px 0;
}

a {
  color: #6fa8dc;
  font-weight: 200;
  text-decoration: none;
}

a#viewSource {
  display: block;
  margin: 1.3em 0 0 0;
  border-top: 1px solid #3f3e3e;
  padding: 1em 0 0 0;
}

p {
  color: #444;
  font-weight: 100;
  line-height: 1.6em;
}

canvas {
  text-align: center;
  width: calc(50% - 20px);
  height: 225px;
}
